#panel {
    -fx-background-color: #212121;
}
#prevBtn {
    -fx-background-image: url("prev2.png");
    -fx-background-color: transparent;
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}
#playBtn {
    -fx-background-image: url("play2.png");
    -fx-background-color: transparent;
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}
#nextBtn {
    -fx-background-image: url("next2.png");
    -fx-background-color: transparent;
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}
#coverPlaceholder {
    -fx-background-image: url("shinbuAva.png");
    -fx-background-color: transparent;
    -fx-background-size: 18 18;
    -fx-background-repeat: no-repeat;
    -fx-background-position:left;
}
#titleLabel {
    -fx-text-fill: #E9E9E9;
}
#playbackTime {
    -fx-text-fill: #E9E9E9;
}
#trackTime {
    -fx-text-fill: #E9E9E9;
}
