.scroll-pane > .viewport {
   -fx-background-color: #999999;
   -fx-background-insets: 0;
   -fx-padding: 0;
    -fx-spacing: 0;
    -fx-border-width: 0px;
}
.tab-pane
{
   -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #661a33);
   -fx-background-insets: 0;
   -fx-padding: 0;
}
.vbox {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #dc143c, #661a33);
    -fx-background-color: #000021;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FF9900;
}